<div style="border: 2px solid red; padding: 10px; margin: 1em 0; font-family: monospace; background-color: #fee;">
  <p><strong>--- Badge Debugger ---</strong></p>
  
  <p><strong>1. Name passed to include:</strong></p>
  <pre><code>{{ include.name | inspect }}</code></pre>
  
  <p><strong>2. The entire site.data.badges object:</strong> (If this is 'nil', the file is not being read)</p>
  <pre><code>{{ site.data.badges | inspect }}</code></pre>
  
  <p><strong>3. Value of looking up site.data.badges['release_notes']:</strong> (If this is 'nil', the key is wrong or YAML is invalid)</p>
  <pre><code>{{ site.data.badges['release_notes'] | inspect }}</code></pre>
</div>