---
---
<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">

    {% if site.ga_tracking != nil %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.ga_tracking }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.ga_tracking }}');
      </script>
    {% endif %}

    {% seo %}
    <link rel="stylesheet" href="{{ '/assets/css/just-the-docs-default.css' | relative_url }}">

    {% if site.search_enabled != false %}
      <script src="{{ '/assets/js/vendor/lunr.min.js' | relative_url }}"></script>
    {% endif %}

    <script src="{{ '/assets/js/just-the-docs.js' | relative_url }}"></script>

    <meta name="viewport" content="width=device-width, initial-scale=1">

    {% if site.favicon_ico %}
      <link rel="icon" href="{{ site.favicon_ico | relative_url }}" type="image/x-icon">
    {% endif %}

    {% if site.mermaid %}
      <script src="https://cdn.jsdelivr.net/npm/mermaid@{{ site.mermaid.version | default: '9.1.6' }}/dist/mermaid.min.js"></script>
    {% endif %}
  </head>
  <body>
    <a class="skip-to-main" href="#main-content">Skip to main content</a>
    {% include_cached icons/icons.html %}
    <div class="side-bar">
      <div class="site-header" role="banner">
        <a href="{{ '/' | relative_url }}" class="site-title lh-tight">
          {% if site.logo %}
            <div class="site-logo" role="img" aria-label="{{ site.title }}"></div>
          {% else %}
            {{ site.title }}
          {% endif %}
        </a>
        <button id="menu-button" class="site-button btn-reset" aria-label="Toggle menu" aria-pressed="false">
          <svg viewBox="0 0 24 24" class="icon" aria-hidden="true"><use xlink:href="#svg-menu"></use></svg>
        </button>
      </div>
      {% include_cached nav.html %}
      {% include_cached footer.html %}
    </div>
    <div class="main" id="top">
      <div id="main-header" class="main-header">
        {% if site.search_enabled != false %}
          <div class="search" role="search">
            <div class="search-input-wrap">
              <input type="text" id="search-input" class="search-input" tabindex="0" placeholder="Search {{ site.title }}" aria-label="Search {{ site.title }}" autocomplete="off">
              <label for="search-input" class="search-label"><svg viewBox="0 0 24 24" class="search-icon"><use xlink:href="#svg-search"></use></svg></label>
            </div>
            <div id="search-results" class="search-results"></div>
          </div>
        {% endif %}
        {% if site.aux_links %}
          {% include_cached aux-nav.html %}
        {% endif %}
      </div>
      <div class="main-content-wrap">
        <div id="main-content" class="main-content">
          {% unless page.url == "/" %}
            {% if page.parent %}
              <nav class="breadcrumb-nav">
                <ol class="breadcrumb-nav-list">
                  {% if page.grand_parent %}
                    <li class="breadcrumb-nav-list-item"><a href="{{ page.grand_parent_url }}">{{ page.grand_parent }}</a></li>
                  {% endif %}
                  <li class="breadcrumb-nav-list-item"><a href="{{ page.parent_url }}">{{ page.parent }}</a></li>
                </ol>
              </nav>
            {% endif %}
          {% endunless %}
          <main>
            {{ content }}
          </main>
        </div>
      </div>
      <div class="search-overlay"></div>
    </div>
  </body>
</html>